body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

header {
  background-color: #2B053C;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1260px;
  z-index: 10;
  top: 0px;
}

.logo{
  width: 180px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 80px; /* Permite que la altura se ajuste automáticamente según el ancho */
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}


p{
  text-align: justify;
  display: block;

}

.hero {
  position: relative;
  top: 120px;
  margin: 0px;
  text-align: center;
}

/* Estilos para el menú */
/* Estilos para el menú del header */
.menu {
  list-style-type: none;
  padding: 0;
  text-align: right; /* Centra el texto horizontalmente */
}

.menu li {
  display: inline-block;
  margin: 0 15px; /* Espacio entre elementos del menú */
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 20px;
}

/* Estilos para el menú desplegable (sin cambios) */
.dropdown-menu {
  display:none;
  position:absolute;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.dropdown-menu li a {
  font-size: 15px;
}

/* Estilos para mostrar el menú desplegable al hacer clic (sin cambios) */
.dropdown.active .dropdown-menu {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
    top: 70px;
    flex-direction: column;
    right: 120px;
gap: 10px;
background-color: #2B053C;
border: 1px solid rgb(255, 255, 255);
border-radius: 10px;
}

section{
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.video{
  height: 590px;
  width: 700px; 
  margin-left: 180px;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.img-beneficios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 150px;
}

.fila-imagenes {
  display: flex;
  gap: 20px; /* Espacio entre las imágenes en la misma fila */
}

.imagen-inicio {
  width: 50%; /* Cada imagen ocupa el 50% del ancho de su contenedor */
}

.imagen-inicio img {
  padding: 40px;
  max-width: 500px; /* Ajusta el ancho máximo de las imágenes para que quepan en la pantalla */
  height: auto;
}

.beneficios-h2 {
  margin-top: -90px;
}

.texto-beneficios{
  text-align: left;
}

footer {
  background-color: #2B053C;
  color: #fff;
  padding: 20px 0;
  top: 150px;
  left: 0px;
  position: relative;
  height: 200px;
}

.texto-footer{
  margin: 20px;
  text-align: center;
}

.footer-content {
  text-align: center; /* Centrar el contenido horizontalmente */
  margin-bottom: 20px;
}

.footer-social {
  display: flex; /* Usar un contenedor flexible para alinear los elementos horizontalmente */
  flex-direction: column; /* Cambiar la dirección de los elementos a columna */
  align-items: center; /* Centrar los elementos verticalmente */
}

.social-icons {
  display: flex; /* Alinea los iconos horizontalmente */
  margin-top: 10px; /* Agrega un margen superior para separar el título y los iconos */
}

.social-icons a {
  margin: 0 10px; /* Agregar un margen horizontal entre los iconos */
}

.social-icons a img {
  width: 30px; /* Establece el ancho deseado para los iconos */
  height: 30px; /* Establece la altura deseada para los iconos */
  filter: brightness(0) invert(1); /* Cambiar el color a blanco */
}

.footer-bottom {
  background-color: #35155D;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
